{% extends 'base.html' %}

{% block title %} CMA | Confirm Delete {% endblock %}

{% block content %}

<h1 style="text-align: center; color: blue;" class="mb-5">Confirm Delete</h1>
{% if messages %}
  {% for message in messages %}
  <div class="alert alert-warning alert-dismissible fade show" role="alert">
    <strong>{{ message }}</strong>
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
  </div>
  {% endfor %}
{% endif %}
<h5 style="text-align: center;" class="mb-2">Are you sureyou want to delete contact {{ curr_contact.contact_name }}?</h5>
<div style="display: flex; justify-content: center;">
    <a href="{% url 'delete' curr_contact.id %}" class="btn btn-danger m-2">Delete</a>
    <a href="{% url 'home' %}" class="btn btn-primary m-2">Home</a>
</div>

{% endblock %}

