{% extends 'base.html' %}

{% block title %} CMA | Contact Details {% endblock %}

{% block content %}
<h1 style="text-align: center; color: blue;" class="m-5">{% block header %}Contact Details{% endblock %}</h1>
<div style="display: flex; justify-content: center;">
    <div style="display: grid; grid-template-columns: 50% 50%;">
        <h3>Name: </h3> <h5>{{ curr_contact.contact_name }}</h5>
        <h3>E-mail: </h3> <h5>{{ curr_contact.contact_email }}</h5>
        <h3>Notes: </h3> <h5>{{ curr_contact.contact_notes }}</h5>
        <h3>Created Time: </h3> <h5>{{ curr_contact.created_time }}</h5>
    </div>
</div>
<div style="display: flex; justify-content: center;">
    <a class="btn btn-primary m-2" href="{% url 'home' %}">Home</a>
    <a class="btn btn-warning m-2" href="{% url 'update' curr_contact.id %}">Edit</a>
    <a class="btn btn-danger m-2" href="{% url 'deleteConf' curr_contact.id %}">Delete</a>
</div>


{% endblock %}
