{% extends 'base.html' %}

{% block title %} CMA | Contact Details {% endblock %}

{% block content %}
<h1 style="text-align: center; color: blue;" class="m-5">{% block header %}Contact Details{% endblock %}</h1>
<h3>Name: <p> </p></h3>
<h3>E-mail: <p> </p></h3>
<h3>Notes: <p> </p></h3>
<h3>Created Time: </h3>
<div>
    <a class="btn btn-primary" href="{% url 'home' %}">Home</a>
    <a class="btn btn-warning" href="{% url 'update' %}">Edit</a>
    <a class="btn btn-danger" href="{% url 'details' %}">Delete</a>
</div>


{% endblock %}
