{% extends 'base.html' %}

{% block title %} CMA | Update Contact {% endblock %}

{% block content %}
<div class="container">
    <h1 style="text-align: center; color: blue;" class="m-5">Update Contact</h1>
    <form action="">
        <div class="mb-3">
            <label for="fullName" class="form-label">Name</label>
            <input type="text" class="form-control" id="fullName" name="fullName">
        </div>
        <div class="mb-3">
          <label for="email1" class="form-label">Email address</label>
          <input type="email" class="form-control" id="email1" name="email1" aria-describedby="emailHelp">
          <div id="emailHelp" class="form-text"></div>
        </div>
        <div>
            <label for="notes" class="form-label">Notes</label>
            <textarea name="notes" id="notes" cols="50" rows="5"></textarea>
        </div>
        <button type="submit" class="btn btn-success">Submit</button>
        <a href="{% url 'home' %}" type="button" class="btn btn-primary">Cancel</a>
      </form>
</div>


{% endblock %}
